input{
  width: 40vw;
  height: 15vw;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensures the div takes the full height of the viewport */
}